*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
}


body {
    background-image: url('img/averquetaaaaal.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.header__nav{
    width: 100%;
    box-shadow: 0 0 10px black, 0 0 10px rgb(255, 0, 191) inset;
    border-radius: 20px;
}


#barranav{
    width: 100%;
    display: flex;
}


.div1, .div2 {
    flex: 1;
}

.div2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.Logonav {
    max-width: 150px;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    
}

.Logonav:hover {
    transform: scale(1.1);
}


.ahivemos{
    text-align: center;
}


.ahivemos__li{
    display: inline-block;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;

}


a{
    text-decoration: none;
    color: azure;
    transition: color 0.3s ease-in-out;
}


a:hover{
    color: transparent;
    background-image: linear-gradient(to right,rgb(0, 255, 255),white);
    -webkit-background-clip: text; 
    background-clip: text;
}


.titulo2{
    width: 100%;
    text-align: center;
}


.subtitulo2{
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(to right, rgb(165, 22, 179), rgb(0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;
}


.textt{
    width: 100%;
    text-align: center;
}


.liu{
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}


.pqn{
    font-size: 1.5em;
    color: black;
}


.sub{
    font-size: 1.03em;
    color:black
}


.h3{
    width: 100%;
    text-align: center;
}


h3{
    font-size: 3rem;
    color: transparent;
    background-image: linear-gradient(to right, rgb(165, 22, 179), rgb(0, 0, 0));
    -webkit-background-clip: text;
    background-clip: text;

}


.xd{
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    padding: 1.5rem 0;
}


.aaa{
    position: relative;
    flex: 0 0 309px;
    height: 450px;
    overflow: hidden;
    margin-left: 1.5rem;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgb(0, 0, 0);
}


.jajajaja{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}


.jajajaja:hover{
    transform: scale(1.1);
}


footer{
    color: black;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px black, 0 0 10px rgb(255, 0, 191) inset;
    border-radius: 10px 10px 0 0;
}


#contacto{
    font-size: 80%;
    color: black;
}

